[%# *.html.tmpl  - template for index
  #%]
[% PROCESS header.html.tmpl
  title = "Change your password"
%]

<h2>Welcome [% env.REMOTE_USER %], fill below if you want to change your pass</h2>
<form action="change_password.cgi" method="post">
  <ul>
    <li>Current: <input name="old" value="" type="password" /></li>
    <li>New: <input name="new" value="" type="password" /></li>
    <li>Confirm (retype): <input name="new_conf" value="" type="password" /></li>
  </ul>
  <input name="change" value="CHANGE!" type="submit" />
</form>

[% PROCESS footer.html.tmpl %]
